/* 
    headers
*/

// temporary code (will change to icon later)
#main-header h1, #main-header h3 {
    text-align: center;
    color: $logo-color;
}
#small-oswego {
    font-size: $font-size-h3; 
    line-height: $line-height-h3;
}