/*
    reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

nav li {
    // no bullet points 
    list-style: none;
    // display horizontally 
    display: inline;
}

nav a {
    // no underbar 
    text-decoration: none;
}