/*
    reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

p {
    margin: $line-height-body;
    margin-left: $margin-thin;
    margin-right:$margin-thin;
}

header a, nav a {
    // no underbar 
    text-decoration: none;
}

nav, nav ul ul {
    // hide in small screen
    display: none;
}

nav ul {
    // no bullet points 
    list-style: none;
}

@media screen and (min-width: $laptop-screen) {
    nav {
        // show up in medium screen
        display: block;
    }

    nav > ul {
        width: $laptop-screen;
        margin: 0 auto;
    }

    nav > ul > li {
        // display horizontally 
        // mothod 1
        //display: inline;

        // mothod 2
        float: left;
    }
}